name: taramail
services:
  api:
    volumes:
      - ./backend/taramail:/app/taramail
      - ./backend/alembic:/app/alembic
    command: >
      sh -c "alembic upgrade head && uvicorn --host=0.0.0.0 --port=80 taramail.api:app --log-config=/app/log-config.dev.yaml --reload"

  certbot:
    volumes:
      - ./certbot/generate-cert.sh:/generate-cert.sh:ro
      - ./certbot/dhparams.pem:/etc/letsencrypt/dhparams.pem:ro
    environment:
      - IPV4_NETWORK=${IPV4_NETWORK:-172.22.1}
    command: >
      sh -c "trap exit TERM; /generate-cert.sh; /deploy-hook.sh; echo Ready; sleep infinity"

  custom-exporter:
    volumes:
      - ./backend/taramail:/app/taramail
    environment:
      - LOG_LEVEL=DEBUG
    command: uvicorn --host=0.0.0.0 --port=80 taramail.exporter:app --reload

  dockerapi:
    volumes:
      - ./backend/taramail:/app/taramail
    environment:
      - LOG_LEVEL=DEBUG
    command: uvicorn --host=0.0.0.0 --port=80 taramail.dockerapi:app --reload

  memcached:
    command: memcached -vv

  unbound:
    healthcheck:
      test: [ "CMD-SHELL", "exit 0" ]
      start_period: 0s
      interval: 1s
      timeout: 1s
      retries: 1
